<% if vibration_presenter.render_vibration_activity? %>
  <%= vibration_presenter.vibration_activity_html.html_safe %>
<% end %>
<%= turbo_frame_tag dom_id(vibration_presenter.vibration) do %>
  <div data-controller="vibration-card" data-vibration-path="<%= vibration_path(vibration_presenter.vibration) %>" class="vibration hover d-flex py-3 px-3">
    <div class="flex-shrink-0">
      <%= link_to user_path(vibration_presenter.user) do %>
        <%= image_tag vibration_presenter.avatar, size: "48x48", class: "rounded-circle" %>
      <% end %>
    </div>
    <div class="flex-grow-1 ms-3">
      <p class="mb-0">
        <span class="fw-bolder"><%= vibration_presenter.display_name %></span>
        <span class="text-muted">
          @<%= vibration_presenter.username %> · <%= vibration_presenter.created_at %></span>
      </p>
      <%= vibration_presenter.body_html.html_safe %>

      <div class="d-flex justify-content-between align-items-center action-links">
        <div>
          <%= link_to vibration_path(vibration_presenter.vibration), data: { "ignore-click": true }, class: "text-decoration-none text-black views" do %>
            <%= image_tag "bar-graph.png", size: "20x20", class: "me-1" %>
            <span><%= vibration_presenter.views_count %></span>
          <% end %>
        </div>
        <div>
          <%= link_to vibration_path(vibration_presenter.vibration), data: { "ignore-click": true }, class: "text-decoration-none text-black replies" do %>
            <%= image_tag "speech-bubble.png", size: "20x20", class: "me-1" %>
            <span><%= vibration_presenter.reply_vibrations_count %></span>
          <% end %>
        </div>
        <div>
          <%= link_to vibration_presenter.revibration_vibration_url, data: { "ignore-click": true, "turbo-method": vibration_presenter.turbo_revibration_data_method }, class: "text-decoration-none text-black revibrations" do %>
            <%= image_tag vibration_presenter.revibration_image, size: "20x20", class: "me-1" %>
            <span><%= vibration_presenter.revibrations_count %></span>
          <% end %>
        </div>
        <div>
          <%= link_to vibration_presenter.like_vibration_url, data: { "ignore-click": true, "turbo-method": vibration_presenter.turbo_like_data_method }, class: "text-decoration-none text-black likes" do %>
            <%= image_tag vibration_presenter.like_heart_image, size: "20x20", class: "me-1" %>
            <span><%= vibration_presenter.likes_count %></span>
          <% end %>
        </div>
        <div>
          <%= link_to vibration_presenter.bookmark_vibration_url, data: { "ignore-click": true, "turbo-method": vibration_presenter.turbo_bookmark_data_method }, class: "text-decoration-none text-black bookmark" do %>
            <%= image_tag vibration_presenter.bookmark_image, size: "20x20", class: "me-1" %>
            <span><%= vibration_presenter.bookmark_text %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
