<%= turbo_frame_tag dom_id(vibration_presenter.vibration) do %>
  <div class="vibration d-flex py-3 px-3">
    <div class="flex-shrink-0">
      <%= image_tag vibration_presenter.avatar, size: "48x48", class: "rounded-circle" %>
    </div>
    <div class="flex-grow-1 ms-3">
      <p class="mb-0">
        <span class="fw-bolder"><%= vibration_presenter.display_name %></span>
        <span class="text-muted">
          @<%= vibration_presenter.username %> · <%= vibration_presenter.created_at %></span>
      </p>
      <p class="mb-0"><%= vibration_presenter.body %></p>
    </div>
  </div>
<% end %>
