<%= turbo_frame_tag dom_id(vibration) do %>
  <div class="vibration d-flex py-3 px-3">
    <div class="flex-shrink-0">
      <%= image_tag vibration.user.avatar, size: "48x48", class: "rounded-circle" %>
    </div>
    <div class="flex-grow-1 ms-3">
      <% if (Time.zone.now - vibration.created_at) > 1.day %>
        <p class="mb-0"><span class="fw-bolder"><%= vibration.user.display_name %></span> <span class="text-muted">@<%= vibration.user.username %> · <%= vibration.created_at.strftime("%b %-d") %></span></p>
      <% else %>
        <p class="mb-0"><span class="fw-bolder"><%= vibration.user.display_name %></span> <span class="text-muted">@<%= vibration.user.username %> · <%= time_ago_in_words(vibration.created_at) %></span></p>
      <% end %>
      <p class="mb-0"><%= vibration.body %></p>
    </div>
  </div>
<% end %>
